/*  ===== MOBILE styles (reside at the top and are inherited by all devices) ===== */
/*  ===== See tablet, desktop, and print @media queries at the bottom. */


/*   ----- Imports  -----  */
  /* @import 'node_modules/modern-normalize/modern-normalize.css';  npm install modern-normalize  Resets elements for browser consistency.  https://www.npmjs.com/package/modern-normalize */         
  /* @import "component1.css";   Component-specific stylesheets, if any.   */
  /* @import url(//fonts.googleapis.com/css?family=Font+Name); */
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300;600&display=swap');   


/*   ----- Variables  -----  */
:root {
    --powderBlue: rgba(153,169,202);
    --mossyGreen: rgba(66,89,49);
    --lightGreen: rgba(185,220,166);
    --forestGreen: rgba(70,93,85,0.8);
    --gray: rgba(166,159,151);
  }
  
  /*  ----- Viewport ----- elements inherited by all remaining elements ----- */
  body {       /* Can alternatively define in html {}. */
     background-size: cover;
    background-attachment: fixed;
    background-position: top left;
    background-repeat: no-repeat;
    background: linear-gradient(to right, rgb(237, 200, 224), rgb(234, 240, 146)); 
    font-family: 'Poppins', sans-serif; 
    margin:0;
    margin-left: auto;
    margin-right: auto;
    padding: 3%;
    max-width:600px;
    font-size: 1.4em;
    font-weight: bold;
  }
  
  /*  ----- Page layout blocks -----  */
  header {
    background-color: var(--forestGreen);
    margin: 0;
    height: 100px;
    margin-bottom: 0;
    text-align: center;
    color: var(--powderBlue);
    border: 7px dashed var(--powderBlue);

  }
  header img{
    width: 40px;
    height: 40px;
    padding-left: 10px;
    margin: 0;
  }
  main {
      background-color: var(--powderBlue);
        padding: 3%;
        margin: 30px;
        margin-top: 0;
        border: 15px solid var(--lightGreen);
       
    }
  section {}
  article {
   
    border-top: 5px solid var(--mossyGreen) ;
    margin: 0;
    padding: 0;
   
  }
    #topic1 {}
    #topic2 {}
  div {}
  aside {
    background-color: var(--lightGreen);
    display: block;
    color: var(--mossyGreen);
    width: 20%;
    margin-left: 41%;
    padding: 20px;
    text-align: center;
    border: dashed 5px var(--mossyGreen);
  }

  table img{
    width: 70%;
    border: solid 3px var(--mossyGreen);
    padding: 3px;
    margin: 10px;
  }
  footer {
    background-color: var(--forestGreen);
    margin: 0;
    height: 50px;
    margin-top: 0;
    text-align: center;
    color: var(--powderBlue);
    padding: 10px;
    font-size: larger;
    height: 100%;
    border: 7px dashed var(--powderBlue);
  }
  
  /* ----- Anchors ----- Text links */
  a {}
  a:link {
    color: var(--mossyGreen);
  }
  a:hover {
    color: var(--lightGreen);
  }
  a:active {}
  a:visited {}

  .add-box-icon{
    font-size: 50px;
    margin: auto;
  }
 .ingredients-col{
    width: 40%;
  } 

  .delete-col{
    width: 6%;
  }
  .edit-col{
    width: 5%;
  }
  .hours-col{
    width: 7%;
  }
  .edit-item-col{
    width: 15%;
  }

  /*  ----- Navigation ----- Override text links for navigation only.  */
  nav {
    text-align: center;
    border-radius: 10px;
    

  }
  nav a {
    background-color:var(--gray);
    border-radius:15px; 
    color:var(--mossyGreen);
    padding: 15px ;
    margin: 0;
    text-decoration:none;
    font-size: medium;
    font-weight: bold;
  }
  nav.local{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    
  }
  nav.local a{
    background-color:var(--mossyGreen);
    border-radius:10px; 
    color: var(--lightGreen);
    padding: 10px ;
    margin: 1%;
    text-decoration:none;
    font-weight: bold;
  }

  nav.local a:hover{
    background-color: var(--powderBlue);
  }
  
  nav a:hover {
    background-color: var(--gray);
  }


  
  /*  -----  Typography  ----- */
  p {}
  br {}
  ol, ul, dl {}
  li {}
  dt {}
  dd {}
  
  h1, h2, h3, h4, h5, h6 {font-family: 'Bebas Neue', sans-serif;} 
  h1 {
    vertical-align: middle;
    line-height: 100px;
   
  }
  h2 {}
  h3 {

   
  }
  h4 {}
  h5 {}
  h6 {}
  
  abbr {}
  acronym {}
  address {}
  blockquote {}
    q {}
    cite {}
  em {}
  hr {

  }
  mark {}
  s {}
  span {}
  strong {}
  sub {}
  sup {}
  time {}
  
  /*  ----- Coding or instructional typography ----- */
  pre {}
  code {}
  kbd {}
  samp {}
  var {}
  del {} 
  ins {}
  
  /*  ----- Table ----- */
  table {
    border-collapse: collapse;
    table-layout:fixed;
    width:100%;
    word-break: break-word;
    padding: 5px;
    flex-wrap: wrap;
    margin-top: 10px;
    margin: 0 auto;
    overflow: auto;

  }
  .item-col{
    width: 15%;
  }


  #ingredients{
   
  width: calc(100% - 90px);
   white-space:normal
  }

  #hours{
    width: calc(100% - 50px);
  }

  #item{
   
    width: calc(100% - 70px);
   }

   #created{
    width: calc(100% - 90px);
   }

  caption {
    background-color: var(--forestGreen);
    color: var(--powderBlue);
    border: 2px solid var(--lightGreen);
  }
  thead {
 
  }
  tbody {}
  tfoot {}
  tr {
    border: 3px solid var(--mossyGreen);
    background-color: var(--gray);

  }
    tr:nth-child(even) {
      
    }
  th {
    border: 3px solid var(--gray);
    background-color: var(--lightGreen);
    
  }
  td {
    border: 3px solid var(--lightGreen);
    text-align: center;
    padding: auto;
   
  }
  #intro{
    font-weight: bold;
  }

  #quantity{
    margin-bottom: 20px;
    margin-top: 0;

    width: 100px;
    height: 30px;
    border: 5px solid var(--forestGreen);
    
  }

  #quantLabel{
    margin-left: 10%;
    margin-top: 15px;
  }

    td:nth-child(1) {}
  colgroup {}
  data {}
  datalist {}
  
  
  /*  ----- Form ----- */
  form {
    font-weight: bold;
   
  }
  fieldset {
    border: 4px solid var(--lightGreen);
    margin-top: 5%;
    padding: 5px;
    margin-bottom: 5%;
    max-width: 100%;

   
  }
    legend {
     font-weight: bold;
     color: var(--mossyGreen); 
     background-color: var(--lightGreen);
     border: 2px solid var(--gray);
    }
  label {
    margin-left: 10%;
    display: block;
    font-weight: bold; 
    margin-top: 3%;
    
    
  }

  #drop {
    margin-left: 10%;
    display: block;
    color: var(--powderBlue);
    font-weight: bold;
    background-color: var(--forestGreen);
    width: 50%;
    border: 3px solid var(--gray);
    padding: 2%;
    margin-top: 4%;
    display: flex;
  }

  #search {
    margin-left: 10%;
  }
  
  button {
    margin-left: 10px;
    background-color: rgb(235, 235, 51);
    font-size: 35px;
    border-radius: 20px;
    color: blue;
  }


  button:hover{
    color: maroon;
    padding: 3px;
  }

  input {
    margin-left: 10%;
  }

  input[type="text"]{
    height: 20px;
    font-size: 0.7em;
    padding: 10px;
    width: 250px;
    display: inline-block;
    
  
  }
  input[type="email"]{
    height: 20px;
    font-size: 0.7em;
    padding: 10px;
    width: 250px;
   
  }
  input[type="radio"]{
    margin-left: 0%;
    
   
  }
  input[type="checkbox"]{
    margin-left: 0%;
    padding: 5px;
   
  }

  textarea {
    width: 200px;
    height:100px;
    font-size: 0.8em;
    padding: 15px;
   
  }
  select {
    margin-left: 10%;
    font-size: 1em;
    
  
  }

  ::placeholder {
    color:var(--gray);
    
}


    optgroup {}
    option {
   
    }
  textarea {
    margin-left: 10%;
    max-width: 100%;
    
  }

  output {}
  meter {}
  progress {}
  
  
  /* ----- Media ----- */
  figure {}
    figcaption {}
    figure img {}
  svg {}
  picture {}
    source {}
  iframe {}
  video {}
  audio {}
  embed {}
  object {}
  
  /*  ----- Classes for alignment, positioning, widths, grids, embellishments, and animation -----  */
  .gallery { 
    display: flex;
    flex-flow: row wrap;
    margin:0; 
    padding:5px;
    
  }

  .gallery img  {
    width:100%;
    margin: 1px;
    padding:1px;
    border: 9px solid;
    border-color: var(--lightGreen);
   
}
  
  .gallery figure {
    width: 360px;
    margin:0;
    padding:2%;
    margin-right: 2%;

  }
  
  .gallery figcaption {
    padding: 1% ;
    
  }
  .wrapper1{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;

}


.wrapper1 ul li {
  list-style:none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative

}


.wrapper1 li::before{
  content: '';
  position: absolute;
  height:28px;
  width: 30px;
  border-radius: 50%;
  background-image: url(images/image2.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 10px;

}


ul li.completebox{
  color:#3085e7;
  text-decoration: line-through;

}
ul li.completebox::before{
  background-image: url(images/image3.png);
}


ul li span{
  display: inline-block; 
  margin-left: 25px; 
  color: red;

}
ul li span:hover{
  background: #133579 ;
}

.foodorder1 h2{
  color: #4b0dc0;
  display: flex;
  align-items: center;
  margin-bottom: 20px;

}

.foodorder1{
  width: 40%;
  background: #fff;
  margin: 100px auto 20px;
  margin-left: 1.5em;
  padding: 40px 30px 70px;;
  padding-left: 50px;
  border-radius: 10px;
  float:left;

}

.foodorder2 h2{
  color: #4b0dc0;
  display: flex;
  align-items: center;
  margin-bottom: 20px;

}

.foodorder2{
  width: 40%;
  background: #fff;
  margin: 100px auto 20px;
  margin-left: 1.5em;
  padding: 40px 30px 70px;;
  padding-left: 50px;
  border-radius: 10px;
  float:left;

}
.about-us{
  display: flex;
  align-items: center;
  width: 85%;
  margin:auto;

}

.about-us img{
  flex: 0 50%;
  max-width: 50%;
  height: auto;
  border-radius: 10%;

}
  

  .floatright {}
  .floatleft {}
  .center-middle {}
  
  .ten {}
  .twenty {}
  .thirty {}
  .forty {}
  .fifty {}
  .sixty {}
  .seventy {}
  .eighty {}
  
  .radius {}
  .circle {}
  .boxshadow {}
  .tshadow {} 
  .gradient {}
  .shape {}
  
  @keyframes App-logo {}
  
  /*   ===== TABLET  media query overrides mobile styles ===== */
  @media all and (min-width: 600px) {
    body{

      max-width: 100%;
      padding: 0;
      textarea{
        width: 100%;
      }
      table{
        max-width:100%;
      }

      }

      
    }
  
  
  /*   ===== DESKTOP  media query overrides mobile and tablet styles ===== */
  @media all and (min-width: 1080px) {
    body{
      max-width:1500px;
    }
    table{
      max-width:100%;
    }
  }
  
  /*   ===== PRINT  media query overrides previous styles =====  */
  @media print {}
  